In [ ]:
# column tranformer :  A ColumnTransformer allows you to apply different transformations to different columns in a dataset in a single step. 
# This is useful when working with datasets that contain both numerical and categorical features, as they require different preprocessing techniques.

# What it does:
# Separates columns into groups (e.g., numerical vs. categorical).

# Applies different transformations to each group (e.g., scaling numerical values, encoding categorical values).

# Combines the transformed columns into a single output array.

# Why use it?
# It streamlines preprocessing by applying multiple transformations at once.

# It avoids manual processing of different feature types separately.

# It works seamlessly with pipelines, making your workflow more efficient.

In [1]:
import numpy as np
import pandas as pd

from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder

from sklearn.preprocessing import OrdinalEncoder

In [2]:
df = pd.read_csv("covid_toy.csv")

In [3]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [4]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [5]:
from sklearn.model_selection import train_test_split

x_train , x_test, y_train, y_test = train_test_split( df.drop(columns = ["has_covid"]) , df["has_covid"] , test_size = 0.2)

In [6]:
x_train

    age  gender  fever   cough       city
45   72    Male   99.0    Mild  Bangalore
68   54  Female  104.0  Strong    Kolkata
16   69  Female  103.0    Mild    Kolkata
75    5    Male  102.0    Mild    Kolkata
47   18  Female  104.0    Mild  Bangalore
..  ...     ...    ...     ...        ...
64   42    Male  104.0    Mild     Mumbai
54   60  Female   99.0    Mild     Mumbai
9    64  Female  101.0    Mild      Delhi
93   27    Male  100.0    Mild    Kolkata
56   71    Male    NaN  Strong    Kolkata

[80 rows x 5 columns]

In [7]:
# Manually typed out :
# adding simple imputer to fever column 
si = SimpleImputer(strategy= "mean")
x_train_fever = si.fit_transform(x_train[["fever"]])

#also the test dqta
x_test_fever  = si.fit_transform(x_test[["fever"]])

x_train_fever.shape

(80, 1)

In [8]:
# ordinal encoding --> cough
oe  = OrdinalEncoder(categories= [['Mild','Strong']])
x_train_cough = oe.fit_transform(x_train[['cough']])

# also the test data
x_test_cough = oe.fit_transform(x_test[["cough"]])

x_train_cough.shape

(80, 1)

In [9]:
# one hot encoding on  ---> gender , city 

ohe = OneHotEncoder(drop = 'first' , sparse_output= False)
x_train_gender = ohe.fit_transform(x_train[["gender" , "city"]])

# also the test data
x_test_gender_city = ohe.fit_transform(x_test[['gender' , 'city']])
x_train_gender.shape

(80, 4)

In [10]:
# Extracting age
x_train_age = x_train.drop(columns = ['gender' , 'fever' , 'cough' , 'city']).values

# also extract age from test data
x_test_age = x_test.drop(columns = ['gender' , 'fever' , 'cough' , 'city']).values

x_train_age.shape

(80, 1)

In [11]:
# x_train_transformed = np.concatenate((x_train_age, x_train_fever, x_train_gender, x_train_cough), axis=1)

In [12]:
# x_test_transformed = np.x_test_transformed concatenate((x_train_age , x_test_fever ,x_train_gender , x_train_cough) , axis = 1)

In [13]:
# Ensure x_train_transformed is defined
x_train_transformed = np.concatenate((x_train_age, x_train_fever, x_train_gender, x_train_cough), axis=1)

# Check the shape of x_train_transformed
x_train_transformed.shape

(80, 7)

In [14]:
# by the help of column Transformer 
from sklearn.compose import ColumnTransformer
transformer = ColumnTransformer(transformers=[
    ('tnf1', SimpleImputer(), ["fever"]),
    ('tnf2', OrdinalEncoder(categories=[['Mild', 'Strong']]), ['cough']),
    ('tnf3', OneHotEncoder(sparse_output=False, drop='first'), ['gender', 'city'])
], remainder='passthrough')  # remainder = passthrough ==> it means rest all the columns remain same

In [15]:
transformer.fit_transform(x_train).shape

(80, 7)

In [16]:
transformer.transform(x_test).shape

(20, 7)