In [ ]:
# encoding : transform our categorical data into neumerical data
# because our machine learning model can only understand numerical data

In [1]:
# 1. LabelEncoding : 
# Aplly on single coumn : column(sub cate1 , sub2  , sub 3)---> doed encoding on own (0,1,2)

In [2]:
# Install the required packages
%pip install numpy pandas

import numpy as np
import pandas as pd

Requirement already satisfied: numpy in d:\anacondanavfile\lib\site-packages (1.26.4)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: pandas in d:\anacondanavfile\lib\site-packages (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\anacondanavfile\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\anacondanavfile\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in d:\anacondanavfile\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in d:\anacondanavfile\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [3]:
df = pd.read_csv("covid_toy.csv")

In [4]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [5]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [ ]:
from sklearn.impute import SimpleImputer

In [7]:
si = SimpleImputer()

In [8]:
df["fever"] = si.fit_transform(df[["fever"]])

In [9]:
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [10]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [11]:
from sklearn.preprocessing import LabelEncoder

In [12]:
lb = LabelEncoder()

In [13]:
df["gender"] = lb.fit_transform(df["gender"])
df["cough"] = lb.fit_transform(df["cough"])
df["city"] = lb.fit_transform(df["city"])
df["has_covid"] = lb.fit_transform(df["has_covid"])

In [15]:
df.head()

   age  gender  fever  cough  city  has_covid
0   60       1  103.0      0     2          0
1   27       1  100.0      0     1          1
2   42       1  101.0      0     1          0
3   31       0   98.0      0     2          0
4   65       0  101.0      0     3          0

In [18]:
x = df.drop(columns = ["has_covid"])
y = df["has_covid"]

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
x_train , x_test , y_train , y_test = train_test_split(x,y, test_size= 0.2 , random_state= 42)

In [25]:
x_train.head()

    age  gender  fever  cough  city
55   81       0  101.0      0     3
88    5       0  100.0      0     2
26   19       0  100.0      0     2
42   27       1  100.0      0     1
69   73       0  103.0      0     1

In [26]:
np.round(x_train.describe() , 2)

         age  gender   fever  cough   city
count  80.00   80.00   80.00  80.00  80.00
mean   42.91    0.41  100.98   0.40   1.30
std    24.47    0.50    1.93   0.49   1.12
min     5.00    0.00   98.00   0.00   0.00
25%    20.00    0.00  100.00   0.00   0.00
50%    42.00    0.00  101.00   0.00   1.00
75%    65.00    1.00  102.00   1.00   2.00
max    84.00    1.00  104.00   1.00   3.00

In [27]:
from sklearn.preprocessing import MinMaxScaler

In [28]:
mn = MinMaxScaler()

In [29]:
x_train_mn = mn.fit_transform(x_train)

In [30]:
x_train_new = pd.DataFrame(x_train_mn , columns = x_train.columns)

In [31]:
np.round(x_train_new.describe() , 2)

         age  gender  fever  cough   city
count  80.00   80.00  80.00  80.00  80.00
mean    0.48    0.41   0.50   0.40   0.43
std     0.31    0.50   0.32   0.49   0.37
min     0.00    0.00   0.00   0.00   0.00
25%     0.19    0.00   0.33   0.00   0.00
50%     0.47    0.00   0.50   0.00   0.33
75%     0.76    1.00   0.67   1.00   0.67
max     1.00    1.00   1.00   1.00   1.00

In [32]:
# check missing data
# Label Encoder on categorical data
# train _test_split for splitting data
#  x_train --> apply standardization

In [33]:
df = pd.read_csv("tips.csv")

In [ ]:
df.isnull().sum()  #no missing values

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [37]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [35]:
from sklearn.preprocessing import LabelEncoder

In [36]:
lb = LabelEncoder()

In [38]:
df["sex"] = lb.fit_transform(df["sex"])
df["smoker"] = lb.fit_transform(df["smoker"])
df["day"] = lb.fit_transform(df["day"])
df["time"] = lb.fit_transform(df["time"])

In [39]:
df.head()

   total_bill   tip  sex  smoker  day  time  size
0       16.99  1.01    0       0    2     0     2
1       10.34  1.66    1       0    2     0     3
2       21.01  3.50    1       0    2     0     3
3       23.68  3.31    1       0    2     0     2
4       24.59  3.61    0       0    2     0     4

In [40]:
x = df.drop(columns = ["total_bill"])
y = df["total_bill"]

In [41]:
from sklearn.model_selection import train_test_split

In [42]:
x_test , x_train , y_test , y_train = train_test_split(x , y , test_size = 0.2 , random_state = 42)

In [43]:
np.round(x_train.describe() , 2)

         tip    sex  smoker    day   time   size
count  49.00  49.00   49.00  49.00  49.00  49.00
mean    2.64   0.61    0.37   1.88   0.31   2.55
std     1.13   0.49    0.49   0.90   0.47   1.00
min     1.00   0.00    0.00   0.00   0.00   1.00
25%     1.83   0.00    0.00   1.00   0.00   2.00
50%     2.34   1.00    0.00   2.00   0.00   2.00
75%     3.23   1.00    1.00   3.00   1.00   3.00
max     5.16   1.00    1.00   3.00   1.00   6.00

In [44]:
# now we perfrom standardisation 
from sklearn.preprocessing import MinMaxScaler

In [45]:
mn = MinMaxScaler()

In [46]:
x_train_mn = x_train_mn = mn.fit_transform(x_train)

In [47]:
x_train_new = pd.DataFrame(x_train_mn , columns = x_train.columns)

In [48]:
np.round(x_train_new.describe() , 2)

         tip    sex  smoker    day   time   size
count  49.00  49.00   49.00  49.00  49.00  49.00
mean    0.39   0.61    0.37   0.63   0.31   0.31
std     0.27   0.49    0.49   0.30   0.47   0.20
min     0.00   0.00    0.00   0.00   0.00   0.00
25%     0.20   0.00    0.00   0.33   0.00   0.20
50%     0.32   1.00    0.00   0.67   0.00   0.20
75%     0.54   1.00    1.00   1.00   1.00   0.40
max     1.00   1.00    1.00   1.00   1.00   1.00

In [49]:
#  take a data set 
# column have mixed data types 
# with the help of oops imprt data using func(data directory import)--->
# logic create ---> Seprate(Categorical columns) , (neumerical columns)