In [1]:
# noramlization ---> min _value = 0 , max_value = 1

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("covid_toy.csv")

In [4]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [5]:
from sklearn.impute import SimpleImputer
# what does SimpleImputer do ?
# It replaces missing values with the mean of the respective feature.
# from sklearn.preprocessing import StandardScaler
# # what does StandardScaler do?
# # It scales the data so that it has zero mean and unit variance.
# from sklearn.model_selection import train_test_split
# # what does train_test_split do?

In [6]:
si = SimpleImputer()

In [7]:
df['fever'] = si.fit_transform(df[['fever']])

In [8]:
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [9]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [10]:
df['city'].value_counts()

city
Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: count, dtype: int64

In [11]:
df['gender'] = df['gender'].map({'Male':0 , 'Female':1})
df['cough'] = df['cough'].map({'Mild':0 , 'Strong':1})
df['city'] = df['city'].map({'Kolkata':0 , 'Bangalore':1 , 'Delhi':2 , 'Mumbai':3 })
df['has_covid'] = df['has_covid'].map({'Yes':0 , 'No':1})

In [12]:
x = df.drop(columns = ["has_covid"])
y = df["has_covid"]

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
x_train , x_test , y_train , y_test = train_test_split(x,y , test_size = 0.2 , random_state = 42)

In [ ]:
np.round(x_train.describe() , 2)    #here the min and max values are not simmilar , we need to normaize them

         age  gender   fever  cough   city
count  80.00   80.00   80.00  80.00  80.00
mean   42.91    0.59  100.98   0.40   1.26
std    24.47    0.50    1.93   0.49   1.06
min     5.00    0.00   98.00   0.00   0.00
25%    20.00    0.00  100.00   0.00   0.00
50%    42.00    1.00  101.00   0.00   1.00
75%    65.00    1.00  102.00   1.00   2.00
max    84.00    1.00  104.00   1.00   3.00

In [16]:
from sklearn.preprocessing import MinMaxScaler

In [17]:
mn = MinMaxScaler()

In [18]:
x_train_mn = mn.fit_transform(x_train)

In [19]:
x_train_new = pd.DataFrame(x_train_mn , columns = x_train.columns)

In [20]:
np.round(x_train_new.describe() , 2)

         age  gender  fever  cough   city
count  80.00   80.00  80.00  80.00  80.00
mean    0.48    0.59   0.50   0.40   0.42
std     0.31    0.50   0.32   0.49   0.35
min     0.00    0.00   0.00   0.00   0.00
25%     0.19    0.00   0.33   0.00   0.00
50%     0.47    1.00   0.50   0.00   0.33
75%     0.76    1.00   0.67   1.00   0.67
max     1.00    1.00   1.00   1.00   1.00

In [21]:
df = pd.read_csv("tips.csv")

In [22]:
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [23]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [24]:
df['sex'] = df['sex'].map({'Male':0 , 'Female':1})
df['smoker'] = df['smoker'].map({'No':0 , 'Yes':1})
df['day'] = df['day'].map({'Mon':0 , 'Tue':1 , 'Wed':2 , 'Thu':3  , 'Fri': 4 , 'Sat':5 , 'Sun':6})
df['time'] = df['time'].map({'Lunch':0 , 'Dinner':1 })

In [25]:
x = df.drop(columns = ["tip"])
y = df["tip"]

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
x_train , x_test , y_train , y_test = train_test_split(x,y , test_size = 0.2 , random_state = 42)

In [28]:
from sklearn.preprocessing import MinMaxScaler

In [29]:
mn = MinMaxScaler()

In [30]:
x_train_mn = mn.fit_transform(x_train)

In [31]:
x_train_new = pd.DataFrame(x_train_mn , columns = x_train.columns)

In [32]:
np.round(x_train_new.describe() , 2)

       total_bill     sex  smoker     day    time    size
count      195.00  195.00  195.00  148.00  195.00  195.00
mean         0.32    0.35    0.38    0.65    0.73    0.31
std          0.19    0.48    0.49    0.33    0.45    0.19
min          0.00    0.00    0.00    0.00    0.00    0.00
25%          0.18    0.00    0.00    0.50    0.00    0.20
50%          0.27    0.00    0.00    0.50    1.00    0.20
75%          0.42    1.00    1.00    1.00    1.00    0.40
max          1.00    1.00    1.00    1.00    1.00    1.00