In [2]:
# Satandardisation = mean = 0 , Std deviation  = 1
# mean centroid = Normal distribution with mean = 0 , Std deviation = 1

In [3]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv("covid_toy.csv")

In [5]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [6]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [7]:
# drop or fill missing values 
# fill missing values with mean using simple imputer

In [8]:
from sklearn.impute import SimpleImputer

In [9]:
si = SimpleImputer(strategy= 'mean')

In [10]:
df['fever'] = si.fit_transform(df[["fever"]])

In [11]:
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [12]:
df['gender'] = df['gender'].map({"Female": 0 , "Male":1})
df['cough'] = df['cough'].map({"Mild": 0 , "Strong":1})
df['city'] = df['city'].map({'Kolkata':0 , 'Bangalore':1 , 'Delhi':2 , 'Mumbai':3 })
df['has_covid'] = df['has_covid'].map({'Yes':0 , 'No':1})

In [13]:
df.head()

   age  gender  fever  cough  city  has_covid
0   60       1  103.0      0     0          1
1   27       1  100.0      0     2          0
2   42       1  101.0      0     2          1
3   31       0   98.0      0     0          1
4   65       0  101.0      0     3          1

In [14]:
x = df.drop(columns= ['has_covid'])
y = df['has_covid']

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
x_train , x_test , y_train , y_test = train_test_split(x,y, test_size = 0.2 , random_state = 42)

In [17]:
np.round(x_train.describe() , 2)

         age  gender   fever  cough   city
count  80.00   80.00   80.00  80.00  80.00
mean   42.91    0.41  100.98   0.40   1.26
std    24.47    0.50    1.93   0.49   1.06
min     5.00    0.00   98.00   0.00   0.00
25%    20.00    0.00  100.00   0.00   0.00
50%    42.00    0.00  101.00   0.00   1.00
75%    65.00    1.00  102.00   1.00   2.00
max    84.00    1.00  104.00   1.00   3.00

In [18]:
from sklearn.preprocessing import StandardScaler

In [19]:
si = StandardScaler()

In [20]:
x_train_sc = si.fit_transform(x_train)

In [24]:
x_train_new = pd.DataFrame(x_train_sc)

In [ ]:
np.round(x_train_new.describe() , 2)  # data is standardised

           0      1      2      3      4
count  80.00  80.00  80.00  80.00  80.00
mean   -0.00   0.00  -0.00  -0.00   0.00
std     1.01   1.01   1.01   1.01   1.01
min    -1.56  -0.84  -1.56  -0.82  -1.19
25%    -0.94  -0.84  -0.51  -0.82  -1.19
50%    -0.04  -0.84   0.01  -0.82  -0.25
75%     0.91   1.19   0.53   1.22   0.70
max     1.69   1.19   1.57   1.22   1.64