In [51]:
import numpy as np
import pandas as pd

In [52]:
df = pd.read_csv('insurance.csv')

In [53]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [54]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [55]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [56]:
df['sex'] = le.fit_transform(df['sex'])
df['smoker'] = le.fit_transform(df['smoker'])
df['region'] = le.fit_transform(df['region'])

In [57]:
df.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520

In [58]:
x = df.drop(columns = ['age'])
y = df['age']

In [59]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 42)

In [60]:
# linear regression
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(x_train, y_train)
y_pred = lr.predict(x_test)

In [ ]:
from sklearn.metrics import r2_score
r2 = r2_score(y_test, y_pred)
print(f'R2 score: {r2}')

R2 score: 0.267861478073532

In [ ]:
# desicision tree regression
from sklearn.tree import DecisionTreeRegressor
dtr = DecisionTreeRegressor()
dtr.fit(x_train, y_train)
y_pred_dtr = dtr.predict(x_test)

In [ ]:
from sklearn.metrics import r2_score
r2 = r2_score(y_test, y_pred_dtr)
print(f'R2 Score: {r2:.2f}')

R2 Score: 0.63

In [ ]:
# Random forest regression
from sklearn.ensemble import RandomForestRegressor
rfr = RandomForestRegressor()
rfr.fit(x_train , y_train)
y_pred_rfr = rfr.predict(x_test)

In [ ]:
from sklearn.metrics import r2_score
r2_rfr = r2_score(y_test, y_pred_rfr)
print(f'R^2 Score: {r2_rfr:.2f}')

R^2 Score: 0.86

In [ ]:
# for categorical data 
# use accuracy score 
from sklearn.metrics import accuracy_score