In [1]:
import numpy as np 
import pandas as pd

In [2]:
df = pd.read_csv("tips.csv")
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [4]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [5]:
df = df.drop(columns= ['total_bill'  , 'tip' , 'size'])

In [6]:
df.head()

      sex smoker  day    time
0  Female     No  Sun  Dinner
1    Male     No  Sun  Dinner
2    Male     No  Sun  Dinner
3    Male     No  Sun  Dinner
4  Female     No  Sun  Dinner

In [7]:
from sklearn.preprocessing import OrdinalEncoder

In [10]:
oe = OrdinalEncoder(categories = [["Male" , "Female"] , ["No"  ,"Yes"] , ["Sun" ,"Mon" , "Tue" , "Wed" , "Thur" , "Fri" , "Sat"] , ["Lunch" ,"Dinner"]])

In [11]:
df_sc = oe.fit_transform(df)

In [12]:
df_new = pd.DataFrame(df_sc , columns = df.columns)

In [13]:
df_new

     sex  smoker  day  time
0    1.0     0.0  0.0   1.0
1    0.0     0.0  0.0   1.0
2    0.0     0.0  0.0   1.0
3    0.0     0.0  0.0   1.0
4    1.0     0.0  0.0   1.0
..   ...     ...  ...   ...
239  0.0     0.0  6.0   1.0
240  1.0     1.0  6.0   1.0
241  0.0     1.0  6.0   1.0
242  0.0     0.0  6.0   1.0
243  1.0     0.0  4.0   1.0

[244 rows x 4 columns]