In [15]:
# ordinal encoding : ordinal encoding encodes the categorical columns as numerical values based on their order in the data. 
# For example, if we have a categorical column with values 'low', 'medium', 'high', ordinal encoding would map these values to 0 , 1, and 2 respectively. 
# has_covid = ['yes' , 'no']

In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv("covid_toy.csv")

In [3]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [4]:
df = df.dropna()

In [5]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [6]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [7]:
df = df.drop(columns= ['age'  , 'fever'])
df.head(3)

  gender cough     city has_covid
0   Male  Mild  Kolkata        No
1   Male  Mild    Delhi       Yes
2   Male  Mild    Delhi        No

In [8]:
df["city"].value_counts()

city
Kolkata      29
Bangalore    28
Delhi        20
Mumbai       13
Name: count, dtype: int64

In [9]:
from sklearn.preprocessing import OrdinalEncoder

In [10]:
oe = OrdinalEncoder(categories = [["Male" , "Female"] , ["Mild"  ,"Strong"] , ["Kolkata" ,"Bangalore" , "Delhi" , "Mumbai"] , ["No" ,"Yes"]])

In [11]:
df_sc = oe.fit_transform(df)

In [12]:
df_new = pd.DataFrame(df_sc , columns = df.columns)

In [13]:
df_new

    gender  cough  city  has_covid
0      0.0    0.0   0.0        0.0
1      0.0    0.0   2.0        1.0
2      0.0    0.0   2.0        0.0
3      1.0    0.0   0.0        0.0
4      1.0    0.0   3.0        0.0
..     ...    ...   ...        ...
85     1.0    0.0   1.0        0.0
86     1.0    1.0   0.0        1.0
87     1.0    0.0   1.0        0.0
88     1.0    1.0   3.0        0.0
89     1.0    1.0   0.0        1.0

[90 rows x 4 columns]

In [ ]:
# OneHot encoder : is in another file 
#  LabelEncoding : is in another file