In [1]:
import pandas as pd

In [2]:
student_data = {
    "student_name": ["sam", "john", "jane", "jack", "jill" , "ram", "sham", "sam", "john", "jane"],
    "student_id": [101,102, 103 , 104 , 105 , 106 , 107, 108, 109, 110],
    "student_stream": ["maths", "biology", "humanities","maths","biology", "humanities", "maths", "biology", "humanities", "maths"],
    "fee_structure": [1000, 2000, 3000, 1000, 2000, 3000, 1000, 2000, 3000, 1000],
    "semester": [1, 2, 3, 1, 2, 3 , 1, 2, 3, 1]
}

In [3]:
df = pd.DataFrame(student_data)

In [4]:
df.head()

  student_name  student_id student_stream  fee_structure  semester
0          sam         101          maths           1000         1
1         john         102        biology           2000         2
2         jane         103     humanities           3000         3
3         jack         104          maths           1000         1
4         jill         105        biology           2000         2

In [5]:
df.to_csv("student_data",index = False)

In [6]:
df = pd.read_csv("D:\\VS CODE FILES\\pandas\\covid_toy.csv")

In [7]:
df

    age  gender  fever   cough       city has_covid
0    60    Male  103.0    Mild    Kolkata        No
1    27    Male  100.0    Mild      Delhi       Yes
2    42    Male  101.0    Mild      Delhi        No
3    31  Female   98.0    Mild    Kolkata        No
4    65  Female  101.0    Mild     Mumbai        No
..  ...     ...    ...     ...        ...       ...
95   12  Female  104.0    Mild  Bangalore        No
96   51  Female  101.0  Strong    Kolkata       Yes
97   20  Female  101.0    Mild  Bangalore        No
98    5  Female   98.0  Strong     Mumbai        No
99   10  Female   98.0  Strong    Kolkata       Yes

[100 rows x 6 columns]

In [8]:
# head funtion gives top 5 values of the data

In [9]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [10]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [11]:
df.shape # gives rows, columns

(100, 6)

In [12]:
df.columns # it will return all the column name

Index(['age', 'gender', 'fever', 'cough', 'city', 'has_covid'], dtype='object')

In [13]:
df.size #rows * columns

600

In [14]:
# tail function gives you the last 5 elements of the dataframe

In [15]:
df.tail()

    age  gender  fever   cough       city has_covid
95   12  Female  104.0    Mild  Bangalore        No
96   51  Female  101.0  Strong    Kolkata       Yes
97   20  Female  101.0    Mild  Bangalore        No
98    5  Female   98.0  Strong     Mumbai        No
99   10  Female   98.0  Strong    Kolkata       Yes

In [16]:
df.tail(3)

    age  gender  fever   cough       city has_covid
97   20  Female  101.0    Mild  Bangalore        No
98    5  Female   98.0  Strong     Mumbai        No
99   10  Female   98.0  Strong    Kolkata       Yes

In [17]:
# if you want to find find randomly indexed data

In [18]:
df.sample(3) # gives sample of three elements

    age  gender  fever   cough     city has_covid
94   79    Male    NaN  Strong  Kolkata       Yes
96   51  Female  101.0  Strong  Kolkata       Yes
68   54  Female  104.0  Strong  Kolkata        No

In [19]:
#specific elements

In [20]:
#loc method [row_range , column_name]
df.loc[3:5,["age","has_covid"]]

   age has_covid
3   31        No
4   65        No
5   84       Yes

In [21]:
#iloc method = indexed location = [row_range, column_range]
df.iloc[3:6 , [0,1,3]]

   age  gender cough
3   31  Female  Mild
4   65  Female  Mild
5   84  Female  Mild

In [22]:
#dataframe is mutable

In [23]:
df.head(4)

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No

In [24]:
df['has_covid'][2]

'No'

In [25]:
df['has_covid'][2]="No"

C:\Users\aman1\AppData\Local\Temp\ipykernel_15248\3036108976.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df['has_covid'][2]="No"
C:\Users\aman1\AppData\Local\Temp\ipykernel_15248\3036108976.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['has_covid'][2]="No"

In [26]:
df['has_covid'][2]

'No'

In [27]:
#specific row , column ---> loc , iloc
# specific column ---> data -----> df['column_name'][indexing]

In [28]:
df['gender'][3:5]

3    Female
4    Female
Name: gender, dtype: object

In [29]:
#if you want to check the overall information of the data

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        100 non-null    int64
 1   gender     100 non-null    object
 2   fever      90 non-null     float64
 3   cough      100 non-null    object
 4   city       100 non-null    object
 5   has_covid  100 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 4.8+ KB

In [31]:
#if you want to check ststically view of data then you can use describe()

In [32]:
df.describe()

              age       fever
count  100.000000   90.000000
mean    44.220000  100.844444
std     24.878931    2.054926
min      5.000000   98.000000
25%     20.000000   99.000000
50%     45.000000  101.000000
75%     66.500000  102.750000
max     84.000000  104.000000

In [33]:
#mean = sumof all values/numberof values = average
#standard devaiation= std 
# normal distributon

In [34]:
#if you want o know how many elements are available in a particular column

In [35]:
df.head(4)

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No

In [36]:
df['has_covid'].value_counts()

has_covid
No     55
Yes    45
Name: count, dtype: int64

In [37]:
df['cough'].value_counts()

cough
Mild      62
Strong    38
Name: count, dtype: int64

In [38]:
df['gender'].value_counts()

gender
Female    59
Male      41
Name: count, dtype: int64

In [39]:
#data --->
#1. neumerical ---> continous data ----> dob(years,monts,days) , salary(rupees,paisa)
#can be divided more 

#2. categorical ---> discrete data ---> total_number of students , maritital status
# cannot be divided further